<section>
    <a href="/dashboard">&larr;back to dashboard</a>
    <h2 class+"title">Create new blog post</h2>

    <form action="new-post-form">
        <div>
            <label for="post-title">title:</label>
            <input class="input" type="text" id="post-title" placeholder="Enter blog title" name="post-title">
        </div>
        <div>
            <label for="post-content">content:</label>
            <input class="textarea is-large" id="post-content" name="post-content" placeholder="Enter content here"
                type="text">
        </div>

        <button type="submit" class="btn btn-outline-dark btn-lg">Create post</button>

    </form>
</section>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/create-post.js"></script>