<div>
    <a href="/dashboard/create/"><button id="create-post" class="button">create post</button></a>
    <h2 class="title pb-4">dashboard: your posts</h2>

    {{#if posts.length}}

        {{#each posts as |post|}}
            {{>post-info post}}

            <a href="/dashboad/edit/{{post.id}}"><button class="mb-5 ml-5 btn btn-outline-dark">edit post</button></a>
</div>
{{/each}}

{{else}}
    <p class="pb-4">You don't currently have any posts </p>

    {{/if}}