<div class="form-container">
    <form class="login-form bg-light mb-3 text-center" style="max-width: 18rem;">
        <div > 
            <label for="username-login">Username:</label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit" class="btn btn-lg btn-outline-dark mt-3">login</button>
        </div>
    </form>
</div>






<form class="signup-form bg-light mb-3 text-center" style="max-width: 18rem;">
    <div class="form-container">
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button class="btn btn-outline-dark mt-3"  type="submit">Signup</button>
    </div>
</form>

. . .
</form>
<script src="/javascript/login.js"></script>