{{!-- <div>
  <form class="sign-up" style="max-width: 18rem;" action="signup-form">
    <h2 class="title pb-4">Create new Account</h2>
    <div>
      <label for="username-signup">username:</label>
      <input type="text" id="user-signup" />
    </div>
    <div>
      <label for="email-signup">email:</label>
      <input type="text" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button class="btn btn-lg btn-outline-dark" type="submit">signup</button>
    </div>
  </form>
</div>

<script src="/javascript/signup.js"></script> --}}